# Build artifacts
target
*.jar
*.zip

# IntelliJ Files
.idea
*.iml

# Eclipse Files
.classpath
.project
.settings

# User created property files
config/*.properties

# Mac Files
.DS_Store

# Log files
*.log
